html {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.wripper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    padding-top: 20px;
}
.wr_header1 {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #efefef;
    font-size: 30px;
    
    }
.wr_header2 {
     display: flex;
     width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    color: #c9ced7;
}
.butheader {
    width: 70px;
    height: 30px;
    background-color: #3d4b60;
    border-radius: 5px;
    color: #cad1db;
    border: 0px;
}
.butheader:hover {
    animation: bounce 1s;
}
header {
    background-image: url(../img/layer_header.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.header_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    margin-top: 30px;
}
.header_con1 h1 {
margin-bottom: 40px;
color: #ffffff;
animation: myAnimate 3s;
}
.header_con1 p {
    margin-bottom: 40px;
    color: #c5d2e5;
}
#logo_header {
    width: 30px;
    height: 30px;
}
#message {
    width: 200px;
    height: 200px;
}
.Read_more {
width: 200px;
height: 60px;
background-color: #67bf95;
color:white;
border-radius: 10px;
border: 0px;
font-size: 25px;
}
.Read_more:hover {
    background: rgba(0,0,0,0);
	color: #67bf95;
    box-shadow: inset 0 0 0 3px #3a7999;
    border: 3px dotted #3a7999;
}
/*  СЕКЦИЯ 1 */
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  100px auto;

}
.section1 img {
    width: 200px;
}
.sec1_1 {
    margin: 0 30px;
}
.sec1_1 h2 {
    margin-bottom: 30px;
    height: 77px;
    color: #37414e;
    font-family: "Roboto Slab";
    font-size: 50px;
    font-weight: 400;
}
.sec1_1 p {
    margin-bottom: 30px;
    color: #4b596c;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}
.sec1_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
   
}
.sec1_2 img {
  width: 150px;
  height: 60px;
}
/* СЕКЦИЯ 2 */
.section2 {
    background-color:#29ac60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section2 h2 {
 color: #ffffff;
font-family: Roboto;
margin-top: 125px;
margin-bottom: 20px;
font-size: 40px;
font-weight: 500;
}
.section2 p {
height: 58px;
color: #ffffff;
margin-bottom: 60px;
font-size: 20px;
font-weight: 100;
}
.section2 img {
    width: 1000px;
}
/* СЕКЦИЯ 3 */
.section3 {
    margin-top: 125px;
    margin-bottom: 125px;
}
.sec3_1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin:  30px 0px;
}
.sec3_1 h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}
.sec3_1 p {
    font-size: 14px;
    font-weight: 400;
    color: #858b93;
    line-height: 30px;
}
.sec3_2 {
    display: flex;
    justify-content: space-between;

}
table {
    border: 1px solid;
    font-size: 26px;
    width: 200px;
}
table th {
    width: 250px;
    font-weight: 500;
    height: 30px;
}
table td {
    color: #778376;
    font-weight: 400;
    text-align: center;
    height: 80px;
    margin: 10px 0px;
    
}
.tab1  th {
    background-color: #4b596c;
    color:  white;
    
}
.tab1 td {
    background-color: #e9eef3;

}
.tab1 button {
    width: 200px;
    height: 80px;
    background-color: #4b596c;
    font-weight: 500;
    font-size: 40px;
    color:white;
    border: 0px solid 5px;
}
.tab1 button:hover {
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.tab2 button:hover {
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.tab3 button:hover {
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93,
    5px 5px #53ea93,
    6px 6px #53ea93,
    7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.tab2  th {
    background-color: #58ad52;
    color:  white;
}
.tab2 td {
    background-color: #9ce597;
}
.tab2 img {
    width: 25px;
}
.tab2 button {
    width: 200px;
    height: 80px;
    background-color: #58ad52;
    font-weight: 500;
    font-size: 40px;
    color:white;
    border: 0px solid 5px;
}
.tab3  th {
    background-color: #52a1ad;
    color:  white;
}
.tab3 td {
    background-color: #76d2e0;
}
.tab3 button {
    width: 200px;
    height: 80px;
    background-color: #52a1ad;
    font-weight: 500;
    font-size: 40px;
    color:white;
    border: 0px solid 5px;
}
/* СЕКЦИЯ 4 */
.section4 {
    background-color: rgb(238, 238, 240);
    font-size: 30px;
    font-weight: 500;
    line-height: 65px;
    text-align: center;
}
.section4 p {
    padding: 50px 0px;
}
.section4 img {
    background-size: cover;
    background-position: center;
    
}
.section5 {
    padding-top: 100px;
    background-color: black;
}
.section5 img {
    width: 300px;
}
.sec5_1 {
    text-align: center;
}
.flex {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_me {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.input_me label {
    padding: 40px 0px;
}
.abot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}
.abot label {
    padding-bottom: 30px;
}
.send {
    text-align: right;
}
.send:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(0.9);
}
.send button {
    width: 150px;
    height: 50px;
    color:white;
    background-color: red;
    border-radius: 5px;
    font-size:20px;
    font-weight: 700;
    border: 0px solid;
}

#mass {
    width: 300px;
    height: 250px;
}
.flex span {
    color:red; 
    font-size: 40px;
}
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
}
.fot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding: 60px 0px;
}
.footer1 span {
    color: #efefef;
    font-weight: 400;
    font-size: 25px;
}
.footer1 p {
    color: #8d8d8d;
font-size: 20px;
font-weight: 500;
}
footer img {
    width: 25px;
}
.footer1 {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer2 {
    display: flex;
    flex-direction: row;

}
.footer2 img {
    width: 50px;
}
@keyframes myAnimate {
    0%,67% { 
        transform: scale(1);
        opacity: 0;}
    33%,100% {
        transform: scale(1.1);
        opacity: 1;}
}